select(name="countries")
	option(value="France" selected) France
	option(value="Afghanistan") Afghanistan
	option(value="Afrique_du_Sud") Afrique du Sud
	option(value="Albanie") Albanie
	option(value="Algerie") Algérie
	option(value="Allemagne") Allemagne
	option(value="Andorre") Andorre
	option(value="Angola") Angola
	option(value="Antigua-et-Barbuda") Antigua-et-Barbuda
	option(value="Arabie_saoudite") Arabie saoudite
	option(value="Argentine") Argentine
	option(value="Armenie") Arménie
	option(value="Australie") Australie
	option(value="Autriche") Autriche
	option(value="Azerbaidjan") Azerbaïdjan
	option(value="Bahamas") Bahamas
	option(value="Bahrein") Bahreïn
	option(value="Bangladesh") Bangladesh
	option(value="Barbade") Barbade
	option(value="Belau") Belau
	option(value="Belgique") Belgique
	option(value="Belize") Belize
	option(value="Benin") Bénin
	option(value="Bhoutan") Bhoutan
	option(value="Bielorussie") Biélorussie
	option(value="Birmanie") Birmanie
	option(value="Bolivie") Bolivie
	option(value="Bosnie-Herzégovine") Bosnie-Herzégovine
	option(value="Botswana") Botswana
	option(value="Bresil") Brésil
	option(value="Brunei") Brunei
	option(value="Bulgarie") Bulgarie
	option(value="Burkina") Burkina
	option(value="Burundi") Burundi
	option(value="Cambodge") Cambodge
	option(value="Cameroun") Cameroun
	option(value="Canada") Canada
	option(value="Cap-Vert") Cap-Vert
	option(value="Chili") Chili
	option(value="Chine") Chine
	option(value="Chypre") Chypre
	option(value="Colombie") Colombie
	option(value="Comores") Comores
	option(value="Congo") Congo
	option(value="Cook") Cook
	option(value="Coree_du_Nord") Corée du Nord
	option(value="Coree_du_Sud") Corée du Sud
	option(value="Costa_Rica") Costa Rica
	option(value="Cote_Ivoire") Côte d'Ivoire
	option(value="Croatie") Croatie
	option(value="Cuba") Cuba
	option(value="Danemark") Danemark
	option(value="Djibouti") Djibouti
	option(value="Dominique") Dominique
	option(value="Egypte") Égypte
	option(value="Emirats_arabes_unis") Émirats arabes unis
	option(value="Equateur") Équateur
	option(value="Erythree") Érythrée
	option(value="Espagne") Espagne
	option(value="Estonie") Estonie
	option(value="Etats-Unis") États-Unis
	option(value="Ethiopie") Éthiopie
	option(value="Fidji") Fidji
	option(value="Finlande") Finlande
	option(value="France") France
	option(value="Gabon") Gabon
	option(value="Gambie") Gambie
	option(value="Georgie") Géorgie
	option(value="Ghana") Ghana
	option(value="Grèce") Grèce
	option(value="Grenade") Grenade
	option(value="Guatemala") Guatemala
	option(value="Guinee") Guinée
	option(value="Guinee-Bissao") Guinée-Bissao
	option(value="Guinee_equatoriale") Guinée équatoriale
	option(value="Guyana") Guyana
	option(value="Haiti") Haïti
	option(value="Honduras") Honduras
	option(value="Hongrie") Hongrie
	option(value="Inde") Inde
	option(value="Indonesie") Indonésie
	option(value="Iran") Iran
	option(value="Iraq") Iraq
	option(value="Irlande") Irlande
	option(value="Islande") Islande
	option(value="Israël") Israël
	option(value="Italie") Italie
	option(value="Jamaique") Jamaïque
	option(value="Japon") Japon
	option(value="Jordanie") Jordanie
	option(value="Kazakhstan") Kazakhstan
	option(value="Kenya") Kenya
	option(value="Kirghizistan") Kirghizistan
	option(value="Kiribati") Kiribati
	option(value="Koweit") Koweït
	option(value="Laos") Laos
	option(value="Lesotho") Lesotho
	option(value="Lettonie") Lettonie
	option(value="Liban") Liban
	option(value="Liberia") Liberia
	option(value="Libye") Libye
	option(value="Liechtenstein") Liechtenstein
	option(value="Lituanie") Lituanie
	option(value="Luxembourg") Luxembourg
	option(value="Macedoine") Macédoine
	option(value="Madagascar") Madagascar
	option(value="Malaisie") Malaisie
	option(value="Malawi") Malawi
	option(value="Maldives") Maldives
	option(value="Mali") Mali
	option(value="Malte") Malte
	option(value="Maroc") Maroc
	option(value="Marshall") Marshall
	option(value="Maurice") Maurice
	option(value="Mauritanie") Mauritanie
	option(value="Mexique") Mexique
	option(value="Micronesie") Micronésie
	option(value="Moldavie") Moldavie
	option(value="Monaco") Monaco
	option(value="Mongolie") Mongolie
	option(value="Mozambique") Mozambique
	option(value="Namibie") Namibie
	option(value="Nauru") Nauru
	option(value="Nepal") Népal
	option(value="Nicaragua") Nicaragua
	option(value="Niger") Niger
	option(value="Nigeria") Nigeria
	option(value="Niue") Niue
	option(value="Norvège") Norvège
	option(value="Nouvelle-Zelande") Nouvelle-Zélande
	option(value="Oman") Oman
	option(value="Ouganda") Ouganda
	option(value="Ouzbekistan") Ouzbékistan
	option(value="Pakistan") Pakistan
	option(value="Panama") Panama
	option(value="Papouasie-Nouvelle_Guinee") Papouasie - Nouvelle Guinée
	option(value="Paraguay") Paraguay
	option(value="Pays-Bas") Pays-Bas
	option(value="Perou") Pérou
	option(value="Philippines") Philippines
	option(value="Pologne") Pologne
	option(value="Portugal") Portugal
	option(value="Qatar") Qatar
	option(value="Republique_centrafricaine") République centrafricaine
	option(value="Republique_dominicaine") République dominicaine
	option(value="Republique_tcheque") République tchèque
	option(value="Roumanie") Roumanie
	option(value="Royaume-Uni") Royaume-Uni
	option(value="Russie") Russie
	option(value="Rwanda") Rwanda
	option(value="Saint-Christophe-et-Nieves") Saint-Christophe-et-Niévès
	option(value="Sainte-Lucie") Sainte-Lucie
	option(value="Saint-Marin") Saint-Marin
	option(value="Saint-Siège") Saint-Siège, ou leVatican
	option(value="Saint-Vincent-et-les_Grenadines") Saint-Vincent-et-les Grenadines
	option(value="Salomon") Salomon
	option(value="Salvador") Salvador
	option(value="Samoa_occidentales") Samoa occidentales
	option(value="Sao_Tome-et-Principe") Sao Tomé-et-Principe
	option(value="Senegal") Sénégal
	option(value="Seychelles") Seychelles
	option(value="Sierra_Leone") Sierra Leone
	option(value="Singapour") Singapour
	option(value="Slovaquie") Slovaquie
	option(value="Slovenie") Slovénie
	option(value="Somalie") Somalie
	option(value="Soudan") Soudan
	option(value="Sri_Lanka") Sri Lanka
	option(value="Sued") Suède
	option(value="Suisse") Suisse
	option(value="Suriname") Suriname
	option(value="Swaziland") Swaziland
	option(value="Syrie") Syrie
	option(value="Tadjikistan") Tadjikistan
	option(value="Tanzanie") Tanzanie
	option(value="Tchad") Tchad
	option(value="Thailande") Thaïlande
	option(value="Togo") Togo
	option(value="Tonga") Tonga
	option(value="Trinite-et-Tobago") Trinité-et-Tobago
	option(value="Tunisie") Tunisie
	option(value="Turkmenistan") Turkménistan
	option(value="Turquie") Turquie
	option(value="Tuvalu") Tuvalu
	option(value="Ukraine") Ukraine
	option(value="Uruguay") Uruguay
	option(value="Vanuatu") Vanuatu
	option(value="Venezuela") Venezuela
	option(value="Viet_Nam") Viêt Nam
	option(value="Yemen") Yémen
	option(value="Yougoslavie") Yougoslavie
	option(value="Zaire") Zaïre
	option(value="Zambie") Zambie
	option(value="Zimbabwe") Zimbabwe